In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
## Loading the data

deliveries_data = pd.read_csv(r'C:\Users\soura\OneDrive\Desktop\Projects\IPL_Prediction\data\raw\deliveries.csv')
matches_data = pd.read_csv(r'C:\Users\soura\OneDrive\Desktop\Projects\IPL_Prediction\data\raw\matches.csv')

In [4]:
print(deliveries_data.shape)
print(matches_data.shape)

(260920, 17)
(1095, 20)

In [5]:
deliveries_data.head()

,match_id,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,extra_runs,total_runs,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder
0,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,1,SC Ganguly,P Kumar,BB McCullum,0,1,1,legbyes,0,NaN,NaN,NaN
1,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,2,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
2,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,3,BB McCullum,P Kumar,SC Ganguly,0,1,1,wides,0,NaN,NaN,NaN
3,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,4,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
4,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,5,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN

In [6]:
matches_data.head()

,id,season,city,date,match_type,player_of_match,venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,target_runs,target_overs,super_over,method,umpire1,umpire2
0,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,223.0,20.0,N,NaN,Asad Rauf,RE Koertzen
1,335983,2007/08,Chandigarh,2008-04-19,League,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,33.0,241.0,20.0,N,NaN,MR Benson,SL Shastri
2,335984,2007/08,Delhi,2008-04-19,League,MF Maharoof,Feroz Shah Kotla,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,bat,Delhi Daredevils,wickets,9.0,130.0,20.0,N,NaN,Aleem Dar,GA Pratapkumar
3,335985,2007/08,Mumbai,2008-04-20,League,MV Boucher,Wankhede Stadium,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,Royal Challengers Bangalore,wickets,5.0,166.0,20.0,N,NaN,SJ Davis,DJ Harper
4,335986,2007/08,Kolkata,2008-04-20,League,DJ Hussey,Eden Gardens,Kolkata Knight Riders,Deccan Chargers,Deccan Chargers,bat,Kolkata Knight Riders,wickets,5.0,111.0,20.0,N,NaN,BF Bowden,K Hariharan

In [7]:
deliveries_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 260920 entries, 0 to 260919
Data columns (total 17 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   match_id          260920 non-null  int64
 1   inning            260920 non-null  int64
 2   batting_team      260920 non-null  object
 3   bowling_team      260920 non-null  object
 4   over              260920 non-null  int64
 5   ball              260920 non-null  int64
 6   batter            260920 non-null  object
 7   bowler            260920 non-null  object
 8   non_striker       260920 non-null  object
 9   batsman_runs      260920 non-null  int64
 10  extra_runs        260920 non-null  int64
 11  total_runs        260920 non-null  int64
 12  extras_type       14125 non-null   object
 13  is_wicket         260920 non-null  int64
 14  player_dismissed  12950 non-null   object
 15  dismissal_kind    12950 non-null   object
 16  fielder           9354 non-null    object
dtypes: int64(8), object(9)
memory usage: 33.8+ MB

In [8]:
matches_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1095 entries, 0 to 1094
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               1095 non-null   int64
 1   season           1095 non-null   object
 2   city             1044 non-null   object
 3   date             1095 non-null   object
 4   match_type       1095 non-null   object
 5   player_of_match  1090 non-null   object
 6   venue            1095 non-null   object
 7   team1            1095 non-null   object
 8   team2            1095 non-null   object
 9   toss_winner      1095 non-null   object
 10  toss_decision    1095 non-null   object
 11  winner           1090 non-null   object
 12  result           1095 non-null   object
 13  result_margin    1076 non-null   float64
 14  target_runs      1092 non-null   float64
 15  target_overs     1092 non-null   float64
 16  super_over       1095 non-null   object
 17  method           21 non-null     object
 18  umpire1          1095 non-null   object
 19  umpire2          1095 non-null   object
dtypes: float64(3), int64(1), object(16)
memory usage: 171.2+ KB

In [9]:
matches_data['season'].unique()

array(['2007/08', '2009', '2009/10', '2011', '2012', '2013', '2014',
       '2015', '2016', '2017', '2018', '2019', '2020/21', '2021', '2022',
       '2023', '2024'], dtype=object)

In [10]:
deliveries_data['inning'].nunique()

6

In [11]:
matches_data['team1'].unique()

array(['Royal Challengers Bangalore', 'Kings XI Punjab',
       'Delhi Daredevils', 'Mumbai Indians', 'Kolkata Knight Riders',
       'Rajasthan Royals', 'Deccan Chargers', 'Chennai Super Kings',
       'Kochi Tuskers Kerala', 'Pune Warriors', 'Sunrisers Hyderabad',
       'Gujarat Lions', 'Rising Pune Supergiants',
       'Rising Pune Supergiant', 'Delhi Capitals', 'Punjab Kings',
       'Lucknow Super Giants', 'Gujarat Titans',
       'Royal Challengers Bengaluru'], dtype=object)

In [12]:
matches_data.isnull().sum()

id                    0
season                0
city                 51
date                  0
match_type            0
player_of_match       5
venue                 0
team1                 0
team2                 0
toss_winner           0
toss_decision         0
winner                5
result                0
result_margin        19
target_runs           3
target_overs          3
super_over            0
method             1074
umpire1               0
umpire2               0
dtype: int64

In [13]:
deliveries_data.isnull().sum()

match_id                 0
inning                   0
batting_team             0
bowling_team             0
over                     0
ball                     0
batter                   0
bowler                   0
non_striker              0
batsman_runs             0
extra_runs               0
total_runs               0
extras_type         246795
is_wicket                0
player_dismissed    247970
dismissal_kind      247970
fielder             251566
dtype: int64

In [14]:
matches_data.head()

,id,season,city,date,match_type,player_of_match,venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,target_runs,target_overs,super_over,method,umpire1,umpire2
0,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,223.0,20.0,N,NaN,Asad Rauf,RE Koertzen
1,335983,2007/08,Chandigarh,2008-04-19,League,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,33.0,241.0,20.0,N,NaN,MR Benson,SL Shastri
2,335984,2007/08,Delhi,2008-04-19,League,MF Maharoof,Feroz Shah Kotla,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,bat,Delhi Daredevils,wickets,9.0,130.0,20.0,N,NaN,Aleem Dar,GA Pratapkumar
3,335985,2007/08,Mumbai,2008-04-20,League,MV Boucher,Wankhede Stadium,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,Royal Challengers Bangalore,wickets,5.0,166.0,20.0,N,NaN,SJ Davis,DJ Harper
4,335986,2007/08,Kolkata,2008-04-20,League,DJ Hussey,Eden Gardens,Kolkata Knight Riders,Deccan Chargers,Deccan Chargers,bat,Kolkata Knight Riders,wickets,5.0,111.0,20.0,N,NaN,BF Bowden,K Hariharan

In [15]:
deliveries_data.head()

,match_id,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,extra_runs,total_runs,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder
0,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,1,SC Ganguly,P Kumar,BB McCullum,0,1,1,legbyes,0,NaN,NaN,NaN
1,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,2,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
2,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,3,BB McCullum,P Kumar,SC Ganguly,0,1,1,wides,0,NaN,NaN,NaN
3,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,4,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
4,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,5,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN

In [16]:
df = pd.merge(deliveries_data, matches_data, left_on='match_id', right_on='id')

In [17]:
df.head()

,match_id,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,...,toss_decision,winner,result,result_margin,target_runs,target_overs,super_over,method,umpire1,umpire2
0,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,1,SC Ganguly,P Kumar,BB McCullum,0,...,field,Kolkata Knight Riders,runs,140.0,223.0,20.0,N,NaN,Asad Rauf,RE Koertzen
1,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,2,BB McCullum,P Kumar,SC Ganguly,0,...,field,Kolkata Knight Riders,runs,140.0,223.0,20.0,N,NaN,Asad Rauf,RE Koertzen
2,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,3,BB McCullum,P Kumar,SC Ganguly,0,...,field,Kolkata Knight Riders,runs,140.0,223.0,20.0,N,NaN,Asad Rauf,RE Koertzen
3,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,4,BB McCullum,P Kumar,SC Ganguly,0,...,field,Kolkata Knight Riders,runs,140.0,223.0,20.0,N,NaN,Asad Rauf,RE Koertzen
4,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,5,BB McCullum,P Kumar,SC Ganguly,0,...,field,Kolkata Knight Riders,runs,140.0,223.0,20.0,N,NaN,Asad Rauf,RE Koertzen

In [18]:
df.columns

Index(['match_id', 'inning', 'batting_team', 'bowling_team', 'over', 'ball',
       'batter', 'bowler', 'non_striker', 'batsman_runs', 'extra_runs',
       'total_runs', 'extras_type', 'is_wicket', 'player_dismissed',
       'dismissal_kind', 'fielder', 'id', 'season', 'city', 'date',
       'match_type', 'player_of_match', 'venue', 'team1', 'team2',
       'toss_winner', 'toss_decision', 'winner', 'result', 'result_margin',
       'target_runs', 'target_overs', 'super_over', 'method', 'umpire1',
       'umpire2'],
      dtype='object')

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 260920 entries, 0 to 260919
Data columns (total 37 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   match_id          260920 non-null  int64
 1   inning            260920 non-null  int64
 2   batting_team      260920 non-null  object
 3   bowling_team      260920 non-null  object
 4   over              260920 non-null  int64
 5   ball              260920 non-null  int64
 6   batter            260920 non-null  object
 7   bowler            260920 non-null  object
 8   non_striker       260920 non-null  object
 9   batsman_runs      260920 non-null  int64
 10  extra_runs        260920 non-null  int64
 11  total_runs        260920 non-null  int64
 12  extras_type       14125 non-null   object
 13  is_wicket         260920 non-null  int64
 14  player_dismissed  12950 non-null   object
 15  dismissal_kind    12950 non-null   object
 16  fielder           9354 non-null    object
 17  id                260920 non-null  int64
 18  season            260920 non-null  object
 19  city              248523 non-null  object
 20  date              260920 non-null  object
 21  match_type        260920 non-null  object
 22  player_of_match   260430 non-null  object
 23  venue             260920 non-null  object
 24  team1             260920 non-null  object
 25  team2             260920 non-null  object
 26  toss_winner       260920 non-null  object
 27  toss_decision     260920 non-null  object
 28  winner            260430 non-null  object
 29  result            260920 non-null  object
 30  result_margin     256796 non-null  float64
 31  target_runs       260611 non-null  float64
 32  target_overs      260611 non-null  float64
 33  super_over        260920 non-null  object
 34  method            3646 non-null    object
 35  umpire1           260920 non-null  object
 36  umpire2           260920 non-null  object
dtypes: float64(3), int64(9), object(25)
memory usage: 73.7+ MB

In [20]:
df['season'].unique()

array(['2007/08', '2009', '2009/10', '2011', '2012', '2013', '2014',
       '2015', '2016', '2017', '2018', '2019', '2020/21', '2021', '2022',
       '2023', '2024'], dtype=object)

In [21]:
df['team1'].unique()

array(['Royal Challengers Bangalore', 'Kings XI Punjab',
       'Delhi Daredevils', 'Mumbai Indians', 'Kolkata Knight Riders',
       'Rajasthan Royals', 'Deccan Chargers', 'Chennai Super Kings',
       'Kochi Tuskers Kerala', 'Pune Warriors', 'Sunrisers Hyderabad',
       'Gujarat Lions', 'Rising Pune Supergiants',
       'Rising Pune Supergiant', 'Delhi Capitals', 'Punjab Kings',
       'Lucknow Super Giants', 'Gujarat Titans',
       'Royal Challengers Bengaluru'], dtype=object)

In [22]:
df['team2'].unique()

array(['Kolkata Knight Riders', 'Chennai Super Kings', 'Rajasthan Royals',
       'Royal Challengers Bangalore', 'Deccan Chargers',
       'Kings XI Punjab', 'Delhi Daredevils', 'Mumbai Indians',
       'Kochi Tuskers Kerala', 'Pune Warriors', 'Sunrisers Hyderabad',
       'Rising Pune Supergiants', 'Gujarat Lions',
       'Rising Pune Supergiant', 'Delhi Capitals', 'Punjab Kings',
       'Gujarat Titans', 'Lucknow Super Giants',
       'Royal Challengers Bengaluru'], dtype=object)

In [23]:
df['match_type'].unique()

array(['League', 'Semi Final', 'Final', '3rd Place Play-Off',
       'Qualifier 1', 'Elimination Final', 'Qualifier 2', 'Eliminator'],
      dtype=object)

In [24]:
df.columns

Index(['match_id', 'inning', 'batting_team', 'bowling_team', 'over', 'ball',
       'batter', 'bowler', 'non_striker', 'batsman_runs', 'extra_runs',
       'total_runs', 'extras_type', 'is_wicket', 'player_dismissed',
       'dismissal_kind', 'fielder', 'id', 'season', 'city', 'date',
       'match_type', 'player_of_match', 'venue', 'team1', 'team2',
       'toss_winner', 'toss_decision', 'winner', 'result', 'result_margin',
       'target_runs', 'target_overs', 'super_over', 'method', 'umpire1',
       'umpire2'],
      dtype='object')

In [25]:
df['batting_team'].head()

0    Kolkata Knight Riders
1    Kolkata Knight Riders
2    Kolkata Knight Riders
3    Kolkata Knight Riders
4    Kolkata Knight Riders
Name: batting_team, dtype: object

In [26]:
df['result'].sample(10)

160520    wickets
114476       runs
73229     wickets
190944    wickets
99796     wickets
229226    wickets
45995        runs
233959       runs
89839        runs
91534        runs
Name: result, dtype: object

In [27]:
df['bowler'].value_counts()

bowler
R Ashwin         4679
SP Narine        4146
B Kumar          4060
RA Jadeja        3895
PP Chawla        3895
                 ...
SN Khan             2
SPD Smith           2
AC Gilchrist        1
YBK Jaiswal         1
Atharva Taide       1
Name: count, Length: 530, dtype: int64

In [28]:
df['city'].value_counts()

city
Mumbai            41742
Kolkata           21846
Delhi             21269
Chennai           20706
Hyderabad         18355
Bangalore         14907
Chandigarh        14476
Jaipur            13520
Pune              12239
Abu Dhabi          8799
Ahmedabad          8553
Bengaluru          6917
Durban             3643
Visakhapatnam      3537
Lucknow            3283
Dubai              3149
Dharamsala         3141
Centurion          2866
Rajkot             2381
Sharjah            2355
Navi Mumbai        2188
Indore             1965
Johannesburg       1940
Cuttack            1695
Port Elizabeth     1677
Ranchi             1671
Cape Town          1539
Raipur             1431
Mohali             1235
Kochi              1155
Kanpur              921
Nagpur              742
Guwahati            739
Kimberley           726
East London         715
Bloemfontein        500
Name: count, dtype: int64

In [29]:
df['venue'].value_counts()

venue
Eden Gardens                                                             17988
Wankhede Stadium                                                         17591
M Chinnaswamy Stadium                                                    14907
Feroz Shah Kotla                                                         13950
MA Chidambaram Stadium, Chepauk                                          11760
Rajiv Gandhi International Stadium, Uppal                                11604
Dubai International Cricket Stadium                                      11229
Sawai Mansingh Stadium                                                   11150
Wankhede Stadium, Mumbai                                                 10915
Punjab Cricket Association Stadium, Mohali                                8266
Sheikh Zayed Stadium                                                      6925
MA Chidambaram Stadium, Chepauk, Chennai                                  6816
Sharjah Cricket Stadium                                                   6672
Narendra Modi Stadium, Ahmedabad                                          5660
Maharashtra Cricket Association Stadium                                   5294
Dr DY Patil Sports Academy, Mumbai                                        4905
Brabourne Stadium, Mumbai                                                 4057
Dr DY Patil Sports Academy                                                3993
Arun Jaitley Stadium, Delhi                                               3963
Eden Gardens, Kolkata                                                     3858
Subrata Roy Sahara Stadium                                                3825
Kingsmead                                                                 3643
Rajiv Gandhi International Stadium                                        3609
M.Chinnaswamy Stadium                                                     3494
M Chinnaswamy Stadium, Bengaluru                                          3423
Arun Jaitley Stadium                                                      3356
Bharat Ratna Shri Atal Bihari Vajpayee Ekana Cricket Stadium, Lucknow     3283
Rajiv Gandhi International Stadium, Uppal, Hyderabad                      3142
Maharashtra Cricket Association Stadium, Pune                             3120
Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium                       3037
Sardar Patel Stadium, Motera                                              2893
SuperSport Park                                                           2866
Punjab Cricket Association IS Bindra Stadium, Mohali                      2574
Brabourne Stadium                                                         2469
Punjab Cricket Association IS Bindra Stadium                              2429
Saurashtra Cricket Association Stadium                                    2381
Sawai Mansingh Stadium, Jaipur                                            2370
Himachal Pradesh Cricket Association Stadium                              2159
MA Chidambaram Stadium                                                    2130
Holkar Cricket Stadium                                                    1965
New Wanderers Stadium                                                     1940
Zayed Cricket Stadium, Abu Dhabi                                          1874
Barabati Stadium                                                          1695
St George's Park                                                          1677
JSCA International Stadium Complex                                        1671
Newlands                                                                  1539
Shaheed Veer Narayan Singh International Stadium                          1431
Maharaja Yadavindra Singh International Cricket Stadium, Mullanpur        1235
Punjab Cricket Association IS Bindra Stadium, Mohali, Chandigarh          1207
Nehru Stadium                                                             1155
Himachal Pradesh Cricket Association Stadium, Dharamsala                   982
Green Park                                                                 921
Vidarbha Cricket Association Stadium, Jamtha                               742
Barsapara Cricket Stadium, Guwahati                                        739
De Beers Diamond Oval                                                      726
Buffalo Park                                                               715
OUTsurance Oval                                                            500
Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium, Visakhapatnam         500
Name: count, dtype: int64

In [30]:
df.columns

Index(['match_id', 'inning', 'batting_team', 'bowling_team', 'over', 'ball',
       'batter', 'bowler', 'non_striker', 'batsman_runs', 'extra_runs',
       'total_runs', 'extras_type', 'is_wicket', 'player_dismissed',
       'dismissal_kind', 'fielder', 'id', 'season', 'city', 'date',
       'match_type', 'player_of_match', 'venue', 'team1', 'team2',
       'toss_winner', 'toss_decision', 'winner', 'result', 'result_margin',
       'target_runs', 'target_overs', 'super_over', 'method', 'umpire1',
       'umpire2'],
      dtype='object')

In [31]:
df['over'].value_counts()

over
0     13906
1     13773
2     13597
3     13575
4     13560
5     13494
6     13452
7     13430
8     13396
9     13354
10    13289
11    13261
12    13222
13    13124
14    13024
15    12879
16    12685
17    12318
18    11583
19     9998
Name: count, dtype: int64

In [32]:
df['ball'].value_counts()

ball
1     42210
2     42106
3     42002
4     41891
5     41752
6     41619
7      7776
8      1307
9       225
10       30
11        2
Name: count, dtype: int64

In [33]:
## dropping the columns which are not required
df.drop(['match_id','id','over','ball','season','city','team1','team2','result','umpire1','umpire2','method','match_type','date','fielder','dismissal_kind','player_dismissed','is_wicket','extras_type','result_margin'],axis=1, inplace=True)

In [34]:
df.head()

,inning,batting_team,bowling_team,batter,bowler,non_striker,batsman_runs,extra_runs,total_runs,player_of_match,venue,toss_winner,toss_decision,winner,target_runs,target_overs,super_over
0,1,Kolkata Knight Riders,Royal Challengers Bangalore,SC Ganguly,P Kumar,BB McCullum,0,1,1,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bangalore,field,Kolkata Knight Riders,223.0,20.0,N
1,1,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,SC Ganguly,0,0,0,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bangalore,field,Kolkata Knight Riders,223.0,20.0,N
2,1,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,SC Ganguly,0,1,1,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bangalore,field,Kolkata Knight Riders,223.0,20.0,N
3,1,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,SC Ganguly,0,0,0,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bangalore,field,Kolkata Knight Riders,223.0,20.0,N
4,1,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,SC Ganguly,0,0,0,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bangalore,field,Kolkata Knight Riders,223.0,20.0,N

In [35]:
df.columns

Index(['inning', 'batting_team', 'bowling_team', 'batter', 'bowler',
       'non_striker', 'batsman_runs', 'extra_runs', 'total_runs',
       'player_of_match', 'venue', 'toss_winner', 'toss_decision', 'winner',
       'target_runs', 'target_overs', 'super_over'],
      dtype='object')

In [36]:
df.isnull().sum()

inning               0
batting_team         0
bowling_team         0
batter               0
bowler               0
non_striker          0
batsman_runs         0
extra_runs           0
total_runs           0
player_of_match    490
venue                0
toss_winner          0
toss_decision        0
winner             490
target_runs        309
target_overs       309
super_over           0
dtype: int64

In [37]:
df['player_of_match']

0         BB McCullum
1         BB McCullum
2         BB McCullum
3         BB McCullum
4         BB McCullum
             ...
260915       MA Starc
260916       MA Starc
260917       MA Starc
260918       MA Starc
260919       MA Starc
Name: player_of_match, Length: 260920, dtype: object

In [38]:
df['inning'].value_counts()

inning
1    135018
2    125741
3        77
4        72
5         8
6         4
Name: count, dtype: int64

In [42]:
df['inning'].sample(12)

179742    2
14390     2
149833    2
260833    1
235003    2
200751    1
202586    2
109099    1
30299     1
15352     2
44697     1
223786    1
Name: inning, dtype: int64