In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns

In [2]:
deliveries = pd.read_csv(r'C:\Users\soura\OneDrive\Desktop\Projects\IPL_Prediction\data\processed\cleaned_deliveries.csv')
matches = pd.read_csv(r'C:\Users\soura\OneDrive\Desktop\Projects\IPL_Prediction\data\processed\cleaned_matches.csv')

In [3]:
deliveries.head()

,match_id,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,extra_runs,total_runs,is_wicket
0,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,1,SC Ganguly,P Kumar,BB McCullum,0,1,1,0
1,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,2,BB McCullum,P Kumar,SC Ganguly,0,0,0,0
2,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,3,BB McCullum,P Kumar,SC Ganguly,0,1,1,0
3,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,4,BB McCullum,P Kumar,SC Ganguly,0,0,0,0
4,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,5,BB McCullum,P Kumar,SC Ganguly,0,0,0,0

In [4]:
matches.head()

,id,season,city,date,match_type,player_of_match,venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin
0,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0
1,335983,2007/08,Chandigarh,2008-04-19,League,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,33.0
2,335984,2007/08,Delhi,2008-04-19,League,MF Maharoof,Feroz Shah Kotla,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,bat,Delhi Daredevils,wickets,9.0
3,335985,2007/08,Mumbai,2008-04-20,League,MV Boucher,Wankhede Stadium,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,Royal Challengers Bangalore,wickets,5.0
4,335986,2007/08,Kolkata,2008-04-20,League,DJ Hussey,Eden Gardens,Kolkata Knight Riders,Deccan Chargers,Deccan Chargers,bat,Kolkata Knight Riders,wickets,5.0

In [5]:
matches.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1095 entries, 0 to 1094
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               1095 non-null   int64
 1   season           1095 non-null   object
 2   city             1095 non-null   object
 3   date             1095 non-null   object
 4   match_type       1095 non-null   object
 5   player_of_match  1095 non-null   object
 6   venue            1095 non-null   object
 7   team1            1095 non-null   object
 8   team2            1095 non-null   object
 9   toss_winner      1095 non-null   object
 10  toss_decision    1095 non-null   object
 11  winner           1095 non-null   object
 12  result           1095 non-null   object
 13  result_margin    1095 non-null   float64
dtypes: float64(1), int64(1), object(12)
memory usage: 119.9+ KB

In [6]:
deliveries.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 260920 entries, 0 to 260919
Data columns (total 13 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   match_id      260920 non-null  int64
 1   inning        260920 non-null  int64
 2   batting_team  260920 non-null  object
 3   bowling_team  260920 non-null  object
 4   over          260920 non-null  int64
 5   ball          260920 non-null  int64
 6   batter        260920 non-null  object
 7   bowler        260920 non-null  object
 8   non_striker   260920 non-null  object
 9   batsman_runs  260920 non-null  int64
 10  extra_runs    260920 non-null  int64
 11  total_runs    260920 non-null  int64
 12  is_wicket     260920 non-null  int64
dtypes: int64(8), object(5)
memory usage: 25.9+ MB

In [7]:
matches.describe()

                 id  result_margin
count  1.095000e+03    1095.000000
mean   9.048283e+05      16.959817
std    3.677402e+05      21.714792
min    3.359820e+05       0.000000
25%    5.483315e+05       5.000000
50%    9.809610e+05       8.000000
75%    1.254062e+06      19.000000
max    1.426312e+06     146.000000

In [8]:
matches.describe(include='all')

,id,season,city,date,match_type,player_of_match,venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin
count,1.095000e+03,1095,1095,1095,1095,1095,1095,1095,1095,1095,1095,1095,1095,1095.000000
unique,NaN,17,36,823,8,292,58,19,19,19,2,20,4,NaN
top,NaN,2013,Mumbai,2008-04-26,League,AB de Villiers,Eden Gardens,Royal Challengers Bangalore,Mumbai Indians,Mumbai Indians,field,Mumbai Indians,wickets,NaN
freq,NaN,76,173,2,1029,25,77,135,138,143,704,144,578,NaN
mean,9.048283e+05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.959817
std,3.677402e+05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21.714792
min,3.359820e+05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
25%,5.483315e+05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.000000
50%,9.809610e+05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.000000
75%,1.254062e+06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19.000000
max,1.426312e+06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,146.000000

In [9]:
matches.set_index('id', inplace=True)

In [10]:
matches.head()

,season,city,date,match_type,player_of_match,venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin
id,,,,,,,,,,,,,
335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0
335983,2007/08,Chandigarh,2008-04-19,League,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,33.0
335984,2007/08,Delhi,2008-04-19,League,MF Maharoof,Feroz Shah Kotla,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,bat,Delhi Daredevils,wickets,9.0
335985,2007/08,Mumbai,2008-04-20,League,MV Boucher,Wankhede Stadium,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,Royal Challengers Bangalore,wickets,5.0
335986,2007/08,Kolkata,2008-04-20,League,DJ Hussey,Eden Gardens,Kolkata Knight Riders,Deccan Chargers,Deccan Chargers,bat,Kolkata Knight Riders,wickets,5.0

In [11]:
city_venue = matches.groupby(['city', 'venue']).size().reset_index(name='count')
city_venue

              city                                              venue  count
0        Abu Dhabi                               Sheikh Zayed Stadium     29
1        Abu Dhabi                   Zayed Cricket Stadium, Abu Dhabi      8
2        Ahmedabad                   Narendra Modi Stadium, Ahmedabad     24
3        Ahmedabad                       Sardar Patel Stadium, Motera     12
4        Bangalore                              M Chinnaswamy Stadium     65
5        Bengaluru                   M Chinnaswamy Stadium, Bengaluru     14
6        Bengaluru                              M.Chinnaswamy Stadium     15
7     Bloemfontein                                    OUTsurance Oval      2
8        Cape Town                                           Newlands      7
9        Centurion                                    SuperSport Park     12
10      Chandigarh       Punjab Cricket Association IS Bindra Stadium     10
11      Chandigarh  Punjab Cricket Association IS Bindra Stadium, ...     11
12      Chandigarh  Punjab Cricket Association IS Bindra Stadium, ...      5
13      Chandigarh         Punjab Cricket Association Stadium, Mohali     35
14         Chennai                             MA Chidambaram Stadium      9
15         Chennai                    MA Chidambaram Stadium, Chepauk     48
16         Chennai           MA Chidambaram Stadium, Chepauk, Chennai     28
17         Cuttack                                   Barabati Stadium      7
18           Delhi                               Arun Jaitley Stadium     14
19           Delhi                        Arun Jaitley Stadium, Delhi     16
20           Delhi                                   Feroz Shah Kotla     60
21      Dharamsala       Himachal Pradesh Cricket Association Stadium      9
22      Dharamsala  Himachal Pradesh Cricket Association Stadium, ...      4
23           Dubai                Dubai International Cricket Stadium     46
24           Dubai                            Sharjah Cricket Stadium     18
25          Durban                                          Kingsmead     15
26     East London                                       Buffalo Park      3
27        Guwahati                Barsapara Cricket Stadium, Guwahati      3
28       Hyderabad                 Rajiv Gandhi International Stadium     15
29       Hyderabad          Rajiv Gandhi International Stadium, Uppal     49
30       Hyderabad  Rajiv Gandhi International Stadium, Uppal, Hyd...     13
31          Indore                             Holkar Cricket Stadium      9
32          Jaipur                             Sawai Mansingh Stadium     47
33          Jaipur                     Sawai Mansingh Stadium, Jaipur     10
34    Johannesburg                              New Wanderers Stadium      8
35          Kanpur                                         Green Park      4
36       Kimberley                              De Beers Diamond Oval      3
37           Kochi                                      Nehru Stadium      5
38         Kolkata                                       Eden Gardens     77
39         Kolkata                              Eden Gardens, Kolkata     16
40         Lucknow  Bharat Ratna Shri Atal Bihari Vajpayee Ekana C...     14
41          Mohali  Maharaja Yadavindra Singh International Cricke...      5
42          Mumbai                                  Brabourne Stadium     10
43          Mumbai                          Brabourne Stadium, Mumbai     17
44          Mumbai                         Dr DY Patil Sports Academy     17
45          Mumbai                 Dr DY Patil Sports Academy, Mumbai     11
46          Mumbai                                   Wankhede Stadium     73
47          Mumbai                           Wankhede Stadium, Mumbai     45
48          Nagpur       Vidarbha Cricket Association Stadium, Jamtha      3
49     Navi Mumbai                 Dr DY Patil Sports Academy, Mumbai      9
50  Port Elizabeth                                   St George's Park      7
51            Pune            Maharashtra Cricket Association Stadium     22
52            Pune      Maharashtra Cricket Association Stadium, Pune     13
53            Pune                         Subrata Roy Sahara Stadium     16
54          Raipur   Shaheed Veer Narayan Singh International Stadium      6
55          Rajkot             Saurashtra Cricket Association Stadium     10
56          Ranchi                 JSCA International Stadium Complex      7
57         Sharjah                            Sharjah Cricket Stadium     10
58   Visakhapatnam  Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket St...     13
59   Visakhapatnam  Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket St...      2

In [52]:
venue_mapping = {
    "Sheikh Zayed Stadium": "Sheikh Zayed Stadium",
    "Zayed Cricket Stadium, Abu Dhabi": "Sheikh Zayed Stadium",
    "Zayed Cricket Stadium": "Sheikh Zayed Stadium",

    
    "Narendra Modi Stadium, Ahmedabad": "Narendra Modi Stadium",
    "Narendra Modi Stadium": "Narendra Modi Stadium",

    
    "M Chinnaswamy Stadium": "M. Chinnaswamy Stadium",
    "M Chinnaswamy Stadium, Bengaluru": "M. Chinnaswamy Stadium",
    "M.Chinnaswamy Stadium": "M. Chinnaswamy Stadium",
    "M.Chinnaswamy Stadium, Bengaluru": "M. Chinnaswamy Stadium",

    
    "Punjab Cricket Association IS Bindra Stadium": "Punjab Cricket Association Stadium",
    "Punjab Cricket Association IS Bindra Stadium, Mohali": "Punjab Cricket Association Stadium",
    "Punjab Cricket Association Stadium, Mohali": "Punjab Cricket Association Stadium",
    "Punjab Cricket Association Stadium": "Punjab Cricket Association Stadium",
    "Punjab Cricket Association IS Bindra Stadium, Mohali, Chandigarh" : "Punjab Cricket Association Stadium",

    
    "MA Chidambaram Stadium": "MA Chidambaram Stadium",
    "MA Chidambaram Stadium, Chepauk": "MA Chidambaram Stadium",
    "MA Chidambaram Stadium, Chepauk, Chennai": "MA Chidambaram Stadium",
    "MA Chidambaram Stadium, Chepauk, Chennai": "MA Chidambaram Stadium",
    
    "Rajiv Gandhi International Stadium": "Rajiv Gandhi International Stadium",
    "Rajiv Gandhi International Stadium, Uppal": "Rajiv Gandhi International Stadium",
    "Rajiv Gandhi International Stadium, Uppal, Hyderabad": "Rajiv Gandhi International Stadium",
    "Rajiv Gandhi International Stadium, Uppal, Hyderabad": "Rajiv Gandhi International Stadium",
    
    
    "Eden Gardens": "Eden Gardens",
    "Eden Gardens, Kolkata": "Eden Gardens",

    
    "Wankhede Stadium": "Wankhede Stadium",
    "Wankhede Stadium, Mumbai": "Wankhede Stadium",

    
    "Dr DY Patil Sports Academy": "Dr DY Patil Stadium",
    "Dr DY Patil Sports Academy, Mumbai": "Dr DY Patil Stadium",
    "Dr DY Patil Stadium": "Dr DY Patil Stadium",
    "Dr DY Patil Stadium, Mumbai": "Dr DY Patil Stadium",

    
    "Maharashtra Cricket Association Stadium": "Maharashtra Cricket Association Stadium",
    "Maharashtra Cricket Association Stadium, Pune": "Maharashtra Cricket Association Stadium",

    
    "Brabourne Stadium": "Brabourne Stadium",
    "Brabourne Stadium, Mumbai": "Brabourne Stadium",


    "Feroz Shah Kotla" : "Arun Jaitley Stadium",
    "Feroz Shah Kotla Ground": "Arun Jaitley Stadium",
    "Feroz Shah Kotla Ground, Delhi": "Arun Jaitley Stadium",
    "Arun Jaitley Stadium": "Arun Jaitley Stadium",
    "Arun Jaitley Stadium, Delhi": "Arun Jaitley Stadium",

    
    "Sharjah Cricket Stadium": "Sharjah Cricket Stadium",
    "Sharjah Cricket Stadium, Sharjah": "Sharjah Cricket Stadium",

    
    "JSCA International Stadium Complex": "JSCA International Stadium Complex",
    "JSCA International Stadium Complex, Ranchi": "JSCA International Stadium Complex",

    
    "Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium": "ACA-VDCA Cricket Stadium",
    "Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium, Visakhapatnam": "ACA-VDCA Cricket Stadium",

    "Himachal Pradesh Cricket Association Stadium, Dharamsala": "Himachal Pradesh Cricket Association Stadium",
    "Himachal Pradesh Cricket Association Stadium": "Himachal Pradesh Cricket Association Stadium",

    "Sawai Mansingh Stadium, Jaipur": "Sawai Mansingh Stadium",
    "Sawai Mansingh Stadium": "Sawai Mansingh Stadium",
}

In [53]:
matches["venue"] = matches["venue"].replace(venue_mapping)

In [55]:
matches["city"] = matches["city"].replace("Sharjah", "Dubai")

In [56]:
matches["city"] = matches["city"].replace("Bengaluru", "Bangalore")

In [57]:
cityVenue = matches.groupby(['city', 'venue']).size().reset_index(name='count')
cityVenue

              city                                              venue  count
0        Abu Dhabi                               Sheikh Zayed Stadium     37
1        Ahmedabad                              Narendra Modi Stadium     24
2        Ahmedabad                       Sardar Patel Stadium, Motera     12
3        Bangalore                             M. Chinnaswamy Stadium     94
4     Bloemfontein                                    OUTsurance Oval      2
5        Cape Town                                           Newlands      7
6        Centurion                                    SuperSport Park     12
7       Chandigarh                 Punjab Cricket Association Stadium     61
8          Chennai                             MA Chidambaram Stadium     85
9          Cuttack                                   Barabati Stadium      7
10           Delhi                               Arun Jaitley Stadium     90
11      Dharamsala       Himachal Pradesh Cricket Association Stadium     13
12           Dubai                Dubai International Cricket Stadium     46
13           Dubai                            Sharjah Cricket Stadium     28
14          Durban                                          Kingsmead     15
15     East London                                       Buffalo Park      3
16        Guwahati                Barsapara Cricket Stadium, Guwahati      3
17       Hyderabad                 Rajiv Gandhi International Stadium     77
18          Indore                             Holkar Cricket Stadium      9
19          Jaipur                             Sawai Mansingh Stadium     57
20    Johannesburg                              New Wanderers Stadium      8
21          Kanpur                                         Green Park      4
22       Kimberley                              De Beers Diamond Oval      3
23           Kochi                                      Nehru Stadium      5
24         Kolkata                                       Eden Gardens     93
25         Lucknow  Bharat Ratna Shri Atal Bihari Vajpayee Ekana C...     14
26          Mohali  Maharaja Yadavindra Singh International Cricke...      5
27          Mumbai                                  Brabourne Stadium     27
28          Mumbai                                Dr DY Patil Stadium     28
29          Mumbai                                   Wankhede Stadium    118
30          Nagpur       Vidarbha Cricket Association Stadium, Jamtha      3
31     Navi Mumbai                                Dr DY Patil Stadium      9
32  Port Elizabeth                                   St George's Park      7
33            Pune            Maharashtra Cricket Association Stadium     35
34            Pune                         Subrata Roy Sahara Stadium     16
35          Raipur   Shaheed Veer Narayan Singh International Stadium      6
36          Rajkot             Saurashtra Cricket Association Stadium     10
37          Ranchi                 JSCA International Stadium Complex      7
38   Visakhapatnam                           ACA-VDCA Cricket Stadium     15

In [58]:
matches.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1095 entries, 335982 to 1426312
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   season           1095 non-null   object
 1   city             1095 non-null   object
 2   date             1095 non-null   object
 3   match_type       1095 non-null   object
 4   player_of_match  1095 non-null   object
 5   venue            1095 non-null   object
 6   team1            1095 non-null   object
 7   team2            1095 non-null   object
 8   toss_winner      1095 non-null   object
 9   toss_decision    1095 non-null   object
 10  winner           1095 non-null   object
 11  result           1095 non-null   object
 12  result_margin    1095 non-null   float64
dtypes: float64(1), object(12)
memory usage: 119.8+ KB