In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import mean_absolute_error, mean_squared_error

In [2]:
df = pd.read_csv(r"C:\Users\soura\OneDrive\Desktop\Projects\IPL_Prediction\data\processed\combined_data.csv")

C:\Users\soura\AppData\Local\Temp\ipykernel_18088\2929982385.py:1: DtypeWarning: Columns (22) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(r"C:\Users\soura\OneDrive\Desktop\Projects\IPL_Prediction\data\processed\combined_data.csv")

In [3]:
df.head()

   match_id  inning  ... result result_margin
0    335982       1  ...   runs         140.0
1    335982       1  ...   runs         140.0
2    335982       1  ...   runs         140.0
3    335982       1  ...   runs         140.0
4    335982       1  ...   runs         140.0

[5 rows x 35 columns]

In [4]:
df.shape

(260920, 35)

In [5]:
# Create the target variable: Final inning score
inning_final_score = df.groupby(['match_id', 'inning'])['cumulative_runs'].max().reset_index()

In [6]:
df = df.merge(inning_final_score, on=['match_id', 'inning'], suffixes=('', '_final'))

In [7]:
# Drop unnecessary columns
drop_columns = [
    'match_id', 'batter', 'bowler', 'non_striker', 'id', 'city', 'date',
    'match_type', 'player_of_match', 'team1', 'team2', 'toss_winner', 'toss_decision',
    'winner', 'result', 'result_margin'
]

In [8]:
df = df.drop(columns=drop_columns)

In [12]:
# Encode categorical variables
categorical_columns = ['batting_team', 'bowling_team', 'match_phase', 'venue']
encoder = LabelEncoder()
for col in categorical_columns:
    df[col] = encoder.fit_transform(df[col])

In [13]:
df.columns

Index(['inning', 'batting_team', 'bowling_team', 'over', 'ball',
       'batsman_runs', 'extra_runs', 'total_runs', 'is_wicket',
       'batting_strength', 'bowling_strength', 'match_phase',
       'cumulative_runs', 'wickets_fallen', 'remaining_overs',
       'remaining_balls', 'run_rate', 'season', 'venue',
       'cumulative_runs_final'],
      dtype='object')

In [16]:
df['cumulative_runs_final'].sample(11)

127000    160
174256    191
154760    174
12069     174
260145    159
193302    172
6756      124
151412    127
115230    130
205222    171
155418    143
Name: cumulative_runs_final, dtype: int64

In [15]:
df.head()

   inning  batting_team  bowling_team  ...   season  venue  cumulative_runs_final
0       1             8            16  ...  2007/08     16                    222
1       1             8            16  ...  2007/08     16                    222
2       1             8            16  ...  2007/08     16                    222
3       1             8            16  ...  2007/08     16                    222
4       1             8            16  ...  2007/08     16                    222

[5 rows x 20 columns]

In [18]:
X = df.drop('cumulative_runs_final',axis=1)
y = df['cumulative_runs_final']

In [19]:
X.head()

   inning  batting_team  bowling_team  ...  run_rate   season  venue
0       1             8            16  ...       1.0  2007/08     16
1       1             8            16  ...       1.0  2007/08     16
2       1             8            16  ...       2.0  2007/08     16
3       1             8            16  ...       2.0  2007/08     16
4       1             8            16  ...       2.0  2007/08     16

[5 rows x 19 columns]